name: Deploy Betfair Backend to Lightsail

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_IP }}
          username: admin
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/admin/BetfairOdds-Backend
            git pull origin main
            npm install
            pm2 restart betfair-bot || pm2 start src/server.js --name betfair-bot
